* {
  box-sizing: border-box;
}

/******** Base Styles *********
*******************************/

body {
 font-family: 'cabin', Merriweather, serif;
 background-color: #e2e2e2;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/boyden_farm.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 80vh;
}

h2 {
  margin: 5px 0;
  color: #444;
  font-size: 220%;
  font-style: italic;
  text-align: center;
}

section {
  width: 95%;
  margin: 0 auto;
  padding: 25px 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid lightgrey;
}

section:last-child {
  border-bottom: none;
}

h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: #444;
}

/*********** Header ***********
*******************************/

#wrapper {
  overflow: hidden;
}

header {
  position: relative;
}

.menu-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  margin: 10px;
  width: 100px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.ham-menu {
  margin: 0 10px 0 0;
  width: 20px;
  height: 20px;
}

.main-nav {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #6a1719;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: .9;
}

.close-menu-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  z-index: 2;
}

.menu {
  padding: 10px 25px;
}

.menu a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  color: #fff;
  font-size: .85em;
  text-transform: uppercase;
}

.nav-icon,
.home-icon {
  margin: 0 10px 0 0;
  height: 20px;
  width: 20px;
}

.primary_title,
.date {
  color: #fff;
  font-family: 'Cookie', cabin, serif;
  font-style: italic;
  text-shadow: 0px -1px 1px #9a9a9a;
  text-align: center;
}

.primary_title {
  font-size: 325%;
  letter-spacing: 2pt;
  margin: 0 0 10px 0;
}

.date {
  font-size: 250%;
}

.rsvp {
  display: block;
  margin: 10px 0;
  padding: 8px 25px;
  background-color: #7a1c1f;
  border-radius: 3px;
  border: 1px solid #8d5656;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
}

.rsvp:hover {
  transform: scale(1.1);
}

.rsvp a {
  color: #fff;
  letter-spacing: 1.2pt;
}

.rsvp a:hover {
  text-decoration: none;
}

.banner {
  padding: 10px 0;
  background-color: #7a1c1f;
  color: #e5dada;
}

.banner > p {
  font-family: 'Cookie', georgia, serif;
  font-size: 180%;
  font-style: italic;
  text-align: center;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 10px;
  width: 35px;
  height: 35px;
}

.hide {
  display: none;
}

/******** Layout Styles ********
*******************************/

.main-content {
  color: #333;
  padding: 0;
  border-bottom: none;
  width: 100%;
}

/*** About Section ***/

#about {
  text-align: center;
}

/*** Wedding Info Section ***/

#wedding-info {
  display: flex;
  flex-direction: column;
}

.venue {
  margin: 0 auto 15px auto;
  text-align: center;
}

.venue p {
  font-size: .85em;
}

.location {
  font-size: 1.5em;
  padding: 5px;
}

.events {
  display: flex;
  margin: 20px 0;
}

.events h4 {
  margin: 0 0 8px 0;
}

.icon {
  margin: 0 15px 0 0;
  padding: 5px;
  width: 50px;
  height: 50px;
}

.other-events h3 {
  font-size: 150%;
  text-align: center;
}

.details address {
  display: block;
  margin: 10px 0 0 0;
}

/********* Lodging *********
****************************/

#accommodations p {
  margin: 10px 0;
  line-height: 20px;
  text-align: justify;
}

.lodging-primary {
  margin: 35px 0 20px 0;
}

.lodging-option {
  margin: 20px 0;
  padding: 0 0 20px 0;
}

.lodging-primary-img,
.lodging-img {
  display: block;
  margin: 10px 0;
  width: 100%;
  height: 80%;
  border-radius: 3px;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
}

.condo-rates {
  list-style: disc;
}

.condo-rates li {
  margin: 0 0 0 20px;
}

.shuttles {
  font-size: 1.125em;
  font-weight: bold;
}

/********* Attractions *********
*******************************/

#attractions {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: none;
}

#attractions h2 {
  margin: 0 10px 20px 10px;
}

.attractions-wrap {
  display: flex;
  align-items: center;
  overflow: auto;
  width: 95%;
  margin: 0 auto;
}

.logo-square {
  display: block;
  height: 150px;
  width: 150px;
  margin: 15px;
}

.logo-long {
  display: block;
  height: 125px;
  width: 300px;
  margin: 15px;
}

/******** Getting Here ********
*******************************/

#travel {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 10px;
  border-bottom: none;
}

.map-wrap {
  margin: 20px 0 0 0;
}

.map {
  display: block;
  width: 90%;
  margin: 0 auto;
}

#registry {
  width: 100%;
}

#registry h2 {
  margin: 0 auto;
  padding: 35px 0 15px 0;
  width: 95%;
  border-top: 1px solid lightgrey;
}

.stores {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.stores a {
  display: block;
}

.amazon,
.macys {
  display: block;
  height: 100px;
  width: 250px;
  margin: 15px auto;
}

footer {
  background-color: #6a1719;
  color: #fff;
  font-size: .8em;
  text-align: right;
  padding: 15px 10px 15px 0;
}


/******** Media Queries ********
*******************************/

@media screen and (min-width: 768px) {

  header {
    height: 70vh;
  }

  .lodging-primary h4 {
    margin: 0 0 10px 0;
  }

  .lodging-primary-img {
    float: right;
    margin: 0 0 0 20px;
    height: 50%;
    width: 50%;
  }

  .event-grid,
  .lodging-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .events,
  .lodging-option {
    width: 48%;
  }

  .lodging-option {
    border-bottom: none;
    padding: 0;
  }

  .lodging-img {
    height: 275px;
  }

  .other-events {
    display: flex;
    flex-direction: column;
  }

  .other-events-wrap {
    display: flex;
    justify-content: space-between;
  }

  .travel-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 0 0 0;
  }

  .map {
    width: 400px;
    height: 300px;
  }

  .stores {
    flex-direction: row;
    justify-content: space-around;
  }

}

@media screen and (min-width: 821px) {

  .menu a {
    font-size: .9em;
    text-transform: capitalize;
  }

  .menu-btn,
  .close-menu-btn {
    display: none;
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #6a1719 0%, #922226 100%);
    opacity: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .main-nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .nav-icon {
    display: none;
  }

  .primary_title {
    font-size: 365%;
  }

  .date {
    font-size: 290%;
  }

}

  @media screen and (min-width: 1024px) {

    header {
      height: 80vh;
    }
  }
